
 body {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Roboto Mono', monospace;
  padding: 1em 3em;
}

body header {
  font-family: 'Roboto Slab', serif;
  font-size: large;
}

.chart-title {
  font-family: 'Roboto Slab', serif;

}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2em;
  padding-top: 1em;
}
 
 .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }
  
  .circles {
    pointer-events: all;
  }

  #explainer {
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  #table {
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  th {
    padding: 0 0.5em;
    color: white;
    background-color: black;
    font-size: 20px;
  }

  .fancy-text {
    color: black;
    background-color: yellow;
  }
  
  tr {
    border-bottom: solid 1px #d3d3d3;
    line-height: 1.75;
  }
  
  td {
    text-align: right;
    padding: 0 0.5em;
    color: black;
    background-color: gray;
  }

